<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Astro Minimal</title>
  </head>
  <body>
    <h1>It works!</h1>
    <div id="app">Hello from Astro build</div>
    <script>
      document.getElementById('app').insertAdjacentText('beforeend', ' ✅');
      alert(origin);
    </script>
  </body>
</html>
